div, ul, h1, p, a {
	margin: 0;
}

#header {
	background-color: #68E068;
	margin: 10px 0px;
}

#header a, #header p {
	text-decoration: none;
	color: darkgreen;
	padding: 0 4px;
	display: inline-block;
}

#header a:hover {
	background-color: #ECFEEC;
}

#menu {
	float: right;
}

.error {
	background-color: lightsalmon;
	margin: 10px auto;
	width: 70%;
	padding: 4px;
	text-align: center;
}

#title_block {
	text-align: center;
	font-family: sans-serif;
}

#creditinals {
	margin: 10px auto;
	width: 200px;
}

#creditinals label, #creditinals input {
	margin: 2px auto;
	display: block;
	width: auto;
}

#message_box {
	width: 70%;
	margin: 0 auto;
}

.message, .message_header {
	font-family: sans-serif;
	font-size: 1em;
}

.message {
	background-color: #BDF8BD;
	min-height: 50px;
	margin: 0 0 10px 0;
	padding: 10px;
}

.message p {
	margin-bottom: 0.5em;
	word-wrap: break-word;
}

.message_header {
	background-color: lightgreen;
	margin: 10px 0 0 0;
	padding: 2px;
	color: darkgreen;
}

#message_input {
	width: 100%;
	min-height: 50px;
	margin: 10px 0;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	border: 1px solid darkgreen;
	font-family: sans-serif;
	font-size: 1em;
}

#message_send_button {
	float: right;
	position: relative;
	right: 5%;
	margin-bottom: 10px;
}
