div, ul, h1, p {
	margin: 0;
}

#header {
	background-color: lightgreen;
	margin: 10px 0px;
}

#header a {
	text-decoration: none;
	color: darkgreen;
	padding: 0 4px;
}

#header a:hover {
	background-color: #EEFFEE;
}

#menu {
	float: right;
}

#creditinals {
	margin: 10% auto;
	width: 200px;
}

#creditinals label, #creditinals input {
	margin: 2px auto;
	display: block;
	width: auto;
}
