{% extends "main/base.html" %}

{% block content %}
	{% if errors %}
		<p class="error">{{ errors }}</p>
	{% endif %}

	<h1 id="title_block">
		{% block title %}{% endblock %}
	</h1>

	{% block creditinals %}
	<div id="creditinals">
		<form action="" method="post">
			<label for="username">User name:</label>
			<input type="text" name="username" value="" id="username">
			<label for="password">Password:</label>
			<input type="password" name="password" value="" id="password">

			<input type="submit" value="login" />
		</form>
	</div>
	{% endblock creditinals %}
{% endblock content %}
