{% extends "main/base.html" %}

{% block title %}Main page{% endblock %}

{% block menu %}
	{% if user.is_authenticated %}
		<p>[{{ user }}]</p>
		<a href="/logout">logout</a>
	{% else %}
		<a href="/login">login</a>
		<a href="/register">register</a>
	{% endif %}
{% endblock %}

{% block content %}

	<div id="message_box">
	{% for message in messages %}
		<div class="message">
			{{ message.text }}
		</div>
	{% endfor %}

	{% if user.is_authenticated %}
		<form action="" method="post">
			<textarea name="message" id="message_input"></textarea>
			<input type="submit" value="Send" id="message_send_button" />
		</form>
	{% endif %}
	</div>


{% endblock %}
